@charset "UTF-8";
.visually-hidden {
  display: none;
}

body {
  font-family: "Roboto";
  -webkit-text-decoration-color: #757575;
          text-decoration-color: #757575;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.title {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  color: #212121;
}

.team__title,
.customers__title {
  margin-bottom: 50px;
  padding-top: 94px;
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
}

.main-button {
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 88;
  letter-spacing: 0.06em;
  margin-top: 30px;
  color: #FFFFFF;
  background-color: #2196F3;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  color: var(--main-color);
}

.sender-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #FFFFFF;
  border-radius: 4px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-input {
  color: #000000;
}

.modal .close-sign {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-sign .icon-close:focus,
.close-sign .icon-close:hover {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-left: 32, 5px;
  margin-right: 47, 5px;
  margin-bottom: 12px;
}

.modal-form {
  width: 448px;
  height: 342px;
  margin-left: 32.5px;
  margin-right: 47.5px;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
}

.form-field-comment {
  width: 448px;
  height: 138px;
}

.form-field input::-webkit-input-placeholder {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field input:-ms-input-placeholder {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field input::-ms-input-placeholder {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field input::placeholder {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.agree-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.check-line {
  margin: 10px 0;
}

.checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-agree .icon-wrapper {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-agree .agree-icon {
  fill: transparent;
}

.check-line input:checked + .checkbox-agree .icon-wrapper {
  background-color: #2196F3;
  border: none;
}

.check-line input:checked + .checkbox-agree .agree-icon {
  fill: #FFFFFF;
}

.form-field .modal-input {
  padding-left: 47px;
}

.form-label .modal-input {
  background-color: #000000;
}

.modal-input,
.form-comment {
  cursor: pointer;
}

.modal-input:focus,
.form-comment:focus {
  outline: 1px solid #2196F3;
  border: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input {
  -webkit-columns: #fff;
          columns: #fff;
}

.form-comment {
  padding: 12px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.form-button {
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 156.5px;
  margin-right: 171.5px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  margin-top: 0px;
}

.input-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 50%;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-color);
}

/* 
.modal-input {
    padding-left: 83px;
    border: 0px;
} */
.modal-input:focus + .input-icon {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.border {
  position: relative;
}

.footer-wrapper {
  display: block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 72px;
  margin-left: 93px;
  margin-bottom: 94px;
}

.sender-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.sender-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sender-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-send {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.sender-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

/* ЛОГО сайту */
.nav__logo {
  margin-right: 93px;
}

.nav__logo-firs, .footer__logo-firs {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: #2196F3;
}

.nav__logo-second {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: #000000;
}

.footer__logo-second {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: #FFFFFF;
}

.header {
  background-color: #FFFFFF;
  padding-bottom: 94px;
  border: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__mail-link {
  margin-left: 344px;
}

.link,
.header__address-link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.header__adress-item:hover, .header__adress-item:focus {
  color: #2196F3;
}

.header__tel-link:hover .header__icon-tel,
.header__tel-link:focus .header__icon-tel {
  fill: #2196F3;
}

.header__mail-link:hover .header__icon-mail,
.header__mail-link:focus .header__icon-mail {
  fill: #2196F3;
}

.header__tel-link,
.header__mail-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mail-link {
  margin-right: 30px;
}

.header__icon-tel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: #757575;
}

.header__icon-mail, .header__icon-tel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: #757575;
}

.nav__border {
  position: relative;
}

.header__link.act-stud::after, .header__link.act-port::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.header__mail-link:hover, .header__mail-link:focus, .header__tel-link:hover, .header__tel-link:focus {
  color: #2196F3;
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero__title {
  min-width: 696;
  margin: 0px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.column__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 30px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  color: #757575;
  padding-top: 10px;
  display: inline-block;
  width: 270px;
  height: 72px;
}

.column__text:nth-child(2n):nth-child(3n) {
  width: 270px;
  height: 48px;
}

.column__item {
  width: 270px;
  height: 120px;
  margin-right: 30px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.column__icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  fill: #AFB1B8;
}

.about {
  padding-bottom: 94px;
}

.about__title {
  margin-bottom: 50px;
}

.about__item:not(:first-child) {
  margin-left: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  position: relative;
}

.about__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 5;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.team__social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team__card-thumb {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
}

.team__social-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: #2196F3;
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: #FFFFFF;
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: #FFFFFF;
}

.team__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-icons {
  margin-top: 16px;
  padding-bottom: 27px;
}

.team__social-item:last-child {
  margin-right: 0px;
}

.team__container {
  padding-bottom: 94px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__social-icon {
  fill: #AFB1B8;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  color: #212121;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  color: #757575;
}

.team__position-frontend,
.team__position-marketing {
  background: url(16166.jpg);
  border-radius: 0px;
}

.team__member:not(:first-child) {
  margin-left: 30px;
}

.team__member,
.team__position {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.team__person-name {
  padding-top: 30px;
}

.team__position {
  padding-top: 10px;
}

.customers {
  padding-bottom: 94px;
}

.customers__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
}

.customers__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__item:last-child {
  margin-right: 0px;
}

.customers__item {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.customers__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.customers__icon {
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item:hover .customers__icon,
.customers__item:focus .customers__icon {
  fill: #2196F3;
}

.customers__item:hover,
.customers__item:focus {
  border-color: #2196F3;
}

.customers__link {
  padding: 16px 32px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: inline-block;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 0px;
}

.footer {
  background-color: #2F303A;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__social {
  margin-left: 70px;
}

.footer__social-icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link {
  fill: #FFFFFF;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #2196F3;
}

.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon {
  fill: #FFFFFF;
}

.footer__social-item:last-child {
  margin-right: 0px;
}

.footer__address-link {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  padding-top: 20px;
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link:hover, .footer__address-link:focus {
  color: #2196F3;
}

.footer__contacts-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 20px;
  display: inline-block;
}

.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: #2196F3;
}

.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-list.list {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding-bottom: 57px;
  margin: 0px;
}

.footer__social-tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__social-item:nth-child(3) {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.our-projects-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.container-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-projects-list > .item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-top: 30px;
}

.container-projects {
  padding-top: 34px;
}

/* .visually-hidden {
    display: none;} */
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.projects-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 86;
  color: #757575;
}

.main-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-filter-list .item:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  height: 38px;
  background-color: #F5F4FA;
  border: none;
  color: #212121;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-button1 {
  width: 73px;
}

.filter-button2 {
  width: 125px;
}

.filter-button3 {
  width: 112px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.filter-button4 {
  width: 103px;
}

.filter-button5 {
  width: 130px;
}

.projects-item {
  margin-top: 4px;
}

.projects-description {
  padding: 20px 24px;
}

.card {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card .img-wrapper {
  position: relative;
  overflow: hidden;
}

.card img {
  display: block;
}

.projects-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: transform 500ms linear; */
}

.our-projects-list .item {
  cursor: pointer;
}

.our-projects-list .item:hover .projects-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */