
.about {
padding-bottom: 94px;
}

.about__title {
 margin-bottom: 50px;
}

.about__item:not(:first-child) {
margin-left: 30px;
}

.about__list {
 display: flex;
}

.about__item {
    position: relative;
}
   
.about__description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;

font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    z-index: 5;
}

