.footer {
  color: $second-color-icon;
  background-color: $dgray;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: normal;
    align-items: baseline;
  }
}

.logo {
  line-height: 1.19;
  letter-spacing: 0.03em;
  font: 700 26px "Raleway", sans-serif;
  text-decoration: none;
  color: $accent-color;
}

.footer-logo {
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 0;
  font: 700 26px "Raleway", sans-serif;
  text-decoration: none;
  color: $second-color-icon;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
  }

  &:hover,
  &:focus {
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: $second-color-icon;
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-top: 8px;
  }

  margin-top: 20px;
}

.address-container {
  text-align: center;
  margin-bottom: 60px;

  //   @media screen and (max-width: 767px) {
  //     display: flex;
  //     flex-direction: column;
  //   }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__contacts-link {
  color: #ffffff99;
  text-decoration: none;
  margin-bottom: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-color-icon;
  text-decoration: none;

  &:hover,
  &:focus {
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: $accent-color;
    cursor: pointer;
  }
}

.footer__contacts-list {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.address-list-item {
  margin-top: 9px;
  text-align: center;

  &:hover,
  &:focus {
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer__social {
  justify-content: space-around;

  display: flex;
  flex-direction: column;

  

  @media screen and (min-width: 1200px) {
    margin-left: 94px;
    justify-content: start;
  }
}

.footer__social-icons {
  display: flex;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.footer__social-link {
  stroke: none;
  fill: $second-color-icon;
  height: 44px;
  width: 44px;

  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    background-color: $accent-color;
  }
}

.footer__social-icon {
  stroke: none;
  fill: $second-color-icon;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    background: $accent-color;
  }
}

.footer__social-tittle {
  margin: 0;
  margin-bottom: 20px;
  color: $second-color-icon;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-form {
  margin-top: 60px;
  width: 100%;

  @media screen and (min-width: 1200px) {
    margin-left: 81px;
    margin-top: 0;
    width: auto;
  }
}

.footer-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.sender-label {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: $second-color-icon;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.sender-input {
  box-sizing: border-box;
  width: 358px;
  color: $second-color-icon;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  background-color: $dgray;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    display: inline;
    margin-bottom: 0;
  }
}

.sender-btn {
  //   position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $second-color-icon;
  background-color: $accent-color;

  padding: 10px 28px 10px 28px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

// .sender-btn:hover {
//   opacity: 0.8;
// }
