
.header {
@media (max-width: 768px) {
        width: 768px;

    }

    background-color: #FFFFFF;
    padding-bottom: 94px;
    border: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
    
}
// @media screen and (min-width: 768px) {
//     .nav__list {
//         padding-left:  88px;
//         padding-right: 90px;
//     }

       
// }

 @media screen and (min-width: 768px) {
            .header__contacts {
                display: block;
                flex-direction: column;
            }
} @media screen and (min-width: 768px) {
     .header__contacts {
         display: block;
         flex-direction: column;
     }
 }

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    display: none;

    @media (min-width: 767px) {
    display: flex;
    align-items: center;
    // padding-right: 234px;
    }
    
}

.nav__list {
    display: flex;
    margin: 0px;
}

.header__contacts {
    display: none;

   
        @media (min-width: 767px) {
        display: flex;
        align-items: center;
        justify-self: center;

        padding-left: 234px;
    }

}

.nav__item:not(:first-child) {
    margin-left: 30px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 767px) {
        display: flex;
        flex-direction: column;
       
.footer-form {
    padding-top: 60px;
    padding-left: 175px;
    padding-right: 143px ;
    padding-bottom: 60px;

    .footer-wrapper {
        margin: 0px 0px;

    }
}

        }

        @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        
        .header__mail-link {
                margin-left: 344px;
        
            }

                }

}



.link,
.header__address-link {
    display: flex;
    text-decoration: none;
}

.list {
    list-style: none;
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: $main-color;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav__link {

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header__adress-item {

    &:hover,
    &:focus {
        color: $accent-color;
    }
}


.header__tel-link {

    &:hover .header__icon-tel,
    &:focus .header__icon-tel {
        fill: $accent-color;
    }

        @media (min-width: 767px) {
            // padding-left: 613px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 21px;
        }
}

.header__mail-link {

    &:hover .header__icon-mail,
    &:focus .header__icon-mail {
        fill: $accent-color;
    }
}

.header__tel-link,
.header__mail-link {

    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    text-align: left;
    color: $second-color;
    display: flex;
    align-items: center;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header__mail-link {
    margin-right: 30px;
}

//  .header__tel-link {
//      align-items: center;
//  }

.header__icon-tel {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    fill: $second-color;
}

.header__icon-mail,
.header__icon-tel {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    fill: $second-color;
}

.nav__border {
    position: relative;
}

.header__link {

    &.act-stud::after,
    &.act-port::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $accent-color;
        border-radius: 2px;
    }
}

.header__mail-link,
.header__tel-link {

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
    