
.header {
     background-color: #FFFFFF;
     padding-bottom: 94px;
     border: 1px solid #ECECEC;
     padding-top: 24px;
     padding-bottom: 25px;
 }

 .header__container {
     display: flex;
     align-items: center;
 }
 .nav {
     display: flex;
     align-items: center;
 }

 .nav__list {
     display: flex;
     margin: 0px;
 }



 .nav__item:not(:first-child) {
     margin-left: 30px;
 }

 .header__list {
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .header__mail-link {
     margin-left: 344px;

 }

 .link,
 .header__address-link {
     text-decoration: none;
 }

 .list {
     list-style: none;
 }

 .nav__link {
     font-weight: 500;
     font-size: 14px;
     line-height: 1, 14;
     letter-spacing: 0.02em;
     color: $main-color;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }

 .nav__link {
     &:hover,
     &:focus {
         color: $accent-color;
     }
 }

 .header__adress-item {
     &:hover,
     &:focus {
         color: $accent-color;
     }
 }


 .header__tel-link {
     &:hover .header__icon-tel,
     &:focus .header__icon-tel {
         fill: $accent-color;
     }
 }

.header__mail-link {
    &:hover .header__icon-mail,
    &:focus .header__icon-mail {
     fill: $accent-color;
        }
}

 .header__tel-link,
 .header__mail-link {
     font-size: 14px;
     font-weight: 500;
     line-height: 1, 14;
     letter-spacing: 0.02em;
     text-align: left;
     color: $second-color;
     display: flex;
     align-items: center;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }

 .header__mail-link {
     margin-right: 30px;
 }

//  .header__tel-link {
//      align-items: center;
//  }

 .header__icon-tel {
     display: inline-flex;
     align-items: center;
     margin-right: 10px;
     fill: $second-color;
 }

 .header__icon-mail, .header__icon-tel {
     display: inline-flex;
     align-items: center;
     margin-right: 10px;
     fill: $second-color;
 }

 .nav__border {
     position: relative;
 }

 .header__link {
     &.act-stud::after,
     &.act-port::after {
         content: "";
         position: absolute;
         bottom: -30px;
         left: 0;
         width: 100%;
         height: 4px;
         background: $accent-color;
         border-radius: 2px;
     }
 }

  .header__mail-link, .header__tel-link {
      &:hover, 
      &:focus {
          color: $accent-color;
      }
  }