.data-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: 95%;

  @media screen and (min-width: 480px) {
    width: 450px;
  
  }

  // @media screen and (min-width: 1200px) {
  //   width: 528px;
  //   left: calc(50% - 254px);
  //   height: 581;
  // }
}

.is-hidden {
  visibility: hidden;
}

.close-btn {
  position: absolute;
  display: flex;
  background-color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 8px 8px 2px 2px;
  padding: 0;
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  top: 8px;
  right: 8px;

  //  @media screen and (max-width: 450px) {
  //   width: 100%;
    
  // }

  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  
&:focus.close-icon, 
   &:hover.close-icon {
    fill: $accent-color;
    
  }
}


.close-icon {
  fill: black;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;

  
}

.form {
  flex-grow: 1;
  padding: 40px;
  padding-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form__heading {
  padding: 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: #212121;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;

  // &:focus-within .modal-icons {
  //     transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  //     fill: $;
  // }
}

.form__item-input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 12px 12px 42px;

  &:focus-within {
    border-color: $accent-color;
    transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  &:focus,
  &:hover {
    border-color: $accent-color;

    & ~ .modal-icons {
      fill: $accent-color;
    }
  }
}

.modal-icons {
  &:focus,
  &:hover {
    fill: $accent-color;
  }

  &:focus + .form__item-input,
  &:hover + .form__item-input {
    border-color: $accent-color;
  }
}

.form__item-textarea {
  outline: none;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus-within {
    border: 1px solid $accent-color;
    transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

.form__item-name {
  margin: 10px 0px 4px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.terms {
  text-decoration: underline;
  color: $accent-color;
}

.form__item-checkbox {
  margin-top: 20px;
}

.form__checkbox {
  border: 1px solid $main-color;
  width: 16px;
  height: 15px;
  margin-top: 1px;
}

.form__submit {
  cursor: pointer;
  margin: 30px auto;
  padding: 10px 52px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: $second-color-icon;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  
&:focus, 
   &:hover {
    background-color: $accent-color;
    
  }
}

.modal-icons {
  position: absolute;
  left: 14px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.agreement-style {
    text-decoration-line: underline;
    color: #2196F3;
}

.agree-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
  display: block;
  justify-content: center;
  align-items: center;
  // margin-left: 0px;
  // margin-right: 0px;


}

.input-line {
  margin-top: 20px;
}

// .check-line {
//     // margin: 10px 0;
// }

.checkbox-agree {
  display: flex;
  align-items: center;
}

.checkbox-agree .icon-wrapper {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-agree .agree-icon {
  fill: transparent;
}

.check-line input:checked + .checkbox-agree .icon-wrapper {
  background-color: #2196f3;
  border: none;
}

.check-line input:checked + .checkbox-agree .agree-icon {
  fill: #ffffff;
}

