body {
    font-family: $main-font;
    text-decoration-color: #757575;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
       
        
h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-weight: 700;
    font-size: 28px;
    line-height: 1, 17;
    color: $main-color;


    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.team__title {
    margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        
}

}

.customers__title {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        
    }

}