
.our-projects-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

}

.container-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-projects-list > .item {
    flex-basis: calc(100% / 3 - 30px);
border: 1px solid #eeeeee;
margin-left: 30px;
margin-top: 30px;
}


.container-projects {
    padding-top: 34px;
}

/* .visually-hidden {
    display: none;} */

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $main-color;
}

.projects-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 86;
    color: $second-color;
}

.main-filter-list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-filter-list .item:not(:first-child) {
    margin-left: 8px;
}

.filter-button {
    height: 38px;
    background-color: #F5F4FA;
    border: none;
    color: rgba(33, 33, 33, 1);
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.filter-button:hover,
:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-button1 {
    width: 73px;
}

.filter-button2 {
    width: 125px;
}

.filter-button3 {
    width: 112px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.filter-button4 {
    width: 103px;
}

.filter-button5 {
    width: 130px;
}

.projects-item {
    margin-top: 4px;
}

.projects-description {
    padding: 20px 24px;
}


.card {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.card:hover,
:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.card .img-wrapper {
    position: relative;
    overflow: hidden;
}

.card img {
    display: block;
}


.projects-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: transform 500ms linear; */
}

.our-projects-list .item {
    cursor: pointer;
}

.our-projects-list .item:hover .projects-text {
    transform: translateY(0%);

}